<%= form_for @worktypeitem, url: {controller: "admin", action: @action} do |f| %>

			<div class="form-body">

					<% if @worktypeitem.errors.any? %>
					
					<div class="alert alert-danger">
						<% @worktypeitem.errors.full_messages.each do |error| %>
                        <strong>Error!</strong> <%= error %> <br />
                        <% end %>
                     </div>

				<% end %>	

				<h3 class="form-section">Main Info</h3>	
				<div class="form-group">						
							<label class="value_label">Name</label><br />
						    <strong class="value">
                             <%= @job.name %>                
                            </strong> 						
				</div>

				<div class="form-group">
						<%= f.label "Work Type" %><br />
						<%= f.select :work_type_id, WorkType.all.collect {|a| [a.name, a.id]  }, :onchange => "getval(this);" %>
						<br />
				</div>

				<div class="form-group">					
									
									<%= f.check_box :completed %><%= f.label :completed %> <br />
														
				</div>
				
				<div class="form-group">
									<%= f.label :estimated_duration %> (in Minutes)<br />
									<%= f.text_field :estimated_duration %>
				</div>

				
				<div class="form-group">
									<%= f.label :notes %><br />
									<%= f.text_area :notes %>
									<%= f.hidden_field :job_id, :value => @job.id %>
				</div>				

				<% if @action != "jobs_addworkitem" %>		
					<h4 class="form-section">Misc Info (You can leave this blank)</h4>
					<div class="form-group">
							<%= f.label "Assigned Staff" %><br />
							<%= f.select :user_id, @staffs.collect {|a| [a.username, a.id]  }, { include_blank: true } %>
							<br />
					</div>

					<div class="form-group">
										<%= f.label "Date / Time Start" %><br />
										<%= f.datetime_select :start_datetime %>
					</div>

					<div class="form-group">
										<%= f.label "Date / Time End" %><br />
										<%= f.datetime_select :end_datetime %>
					</div>
					<div class="form-group">
										<em class="value_label">Leave the Staff blank so that Start and End date times will not be saved. The Assigned employee can set this values using their own logins when they claim a job. This was added here, in cases when the managers need to override or correct the entries manually.</em>
					</div>
				<% end %>	


				
				<div class="form-actions right"> 
				<% 
					
					if @action == "jobs_addworkitem" 	
						@action_label = "Add Work Item"
					else
						@action_label = "Update Work Item"
					end 

				%>	
				
				<%= f.submit @action_label, class: "btn btn-success"  %>
				<a href="/jobs/<%= @job.id %>/view" class="btn red">Cancel</a>
			</div>

		</div>


		<% end %>

<script type="text/javascript">

  var arr = [];

  
  	<% WorkType.all.each do |wt|  %>
   
     arr[<%= wt.id %>] = <%= wt.average_duration %>;

  	<% end %>

  	$('#work_type_item_work_type_id').on('change', function()  {
    	
    	var index = $("#work_type_item_work_type_id").val();
    	var str = arr[index];
   		$("#work_type_item_estimated_duration" ).val(str);
    
  	});
  	<% if @action == "jobs_addworkitem" %>	
				
  		$("#work_type_item_estimated_duration").val(<%= WorkType.first.average_duration %>);

  	<% end %>	


</script>

