<%= form_for @job, url: {controller: "admin", action: @action} do |f| %>

			<div class="form-body">

				<% if @job.errors.any? %>
					
					<div class="alert alert-danger">
						<% @job.errors.full_messages.each do |error| %>
                        <strong>Error!</strong> <%= error %> <br />
                        <% end %>
                     </div>

				<% end %>	

				<h3 class="form-section">Job Info</h3>	
				<div class="form-group">						
									<%= f.label :name %><br />
									<%= f.text_field :name %>						
				</div>

				<div class="form-group">					
									
									<%= f.check_box :completed %><%= f.label :completed %> <br />
														
				</div>
				
				<div class="form-group">
									<%= f.label :date_created %><br />
									<%= f.datetime_select :date_created %>
				</div>

				<% if @action == "jobs_add" %>	
				
					<div class="form-group">
										<%= f.label "Work Items Template" %><br />
										<%= f.select :template_id, @templates.collect {|a| [a.name, a.id]  } %>
					</div>

				<% end %>

				<div class="form-group">
									<%= f.label :notes %><br />
									<%= f.text_area :notes %>
				</div>				

				
				<div class="form-actions right"> 
				<% 
					
					if @action == "jobs_add" 	
						@action_label = "Add Job"
					else
						@action_label = "Update Job"
					end 

				%>	
				
				<%= f.submit @action_label, class: "btn btn-success"  %>
				<a href="/jobs/<%= @job.id %>/view" class="btn red">Cancel</a>
			</div>

		</div>


		<% end %>