<%= form_for @user, url: {controller: "admin", action: @action} do |f| %>

			<div class="form-body">

				<% if @user.errors.any? %>
					
					<div class="alert alert-danger">
						<% @user.errors.full_messages.each do |error| %>
                        <strong>Error!</strong> <%= error %> <br />
                        <% end %>
                     </div>

				<% end %>	


				<h3 class="form-section">User Info</h3>	
				<div class="form-group">						
									<%= f.label :username %><br />
									<%= f.text_field :username %>						
				</div>

				<div class="form-group">					
									<%= f.label :password %><br />
									<%= f.text_field :password %>						
				</div>
				<div class="form-group">
									<%= f.label :user_type %><br />
									<%= f.select :user_type, ['Staff','Manager'] %>
									
				</div>

				<div class="form-group">					
									
									<%= f.check_box :isactive %><%= f.label :isactive %> <br />
									<em>Unchecking isactive will disable the user account, so that it cannot be used to log in.</em>					
				</div>

			
				<h3 class="form-section">Person Info</h3>	
				<div class="form-group">
									<%= f.label :firstname %><br />
									<%= f.text_field :firstname %>
				</div>

				<div class="form-group">
									<%= f.label :lastname %><br />
									<%= f.text_field :lastname %>
				</div>

				<div class="form-group">
									<%= f.label :notes %><br />
									<%= f.text_area :notes %>
				</div>
				<div class="form-actions right"> 
				<% 
					
					if @action == "users_add" 	
						@action_label = "Add User"
					else
						@action_label = "Update User"
					end 

				%>	
				
				<%= f.submit @action_label, class: "btn btn-success"  %>
				<a href="/users/<%= @user.id %>/view" class="btn red">Cancel</a>
			</div>

		</div>


		<% end %>