<%= form_for @worktype_template, url: {controller: "admin", action: @action} do |f| %>

			<div class="form-body">

				<% if @worktype_template.errors.any? %>
					
					<div class="alert alert-danger">
						<% @worktype_template.errors.full_messages.each do |error| %>
                        <strong>Error!</strong> <%= error %> <br />
                        <% end %>
                     </div>

				<% end %>	

				<h3 class="form-section">Work Type Template Info</h3>	
				<div class="form-group">						
									<%= f.label :name %><br />
									<%= f.text_field :name %>						
				</div>

			
				<div class="form-group">
									<%= f.label :notes %><br />
									<%= f.text_area :notes %>
				</div>

				<div class="form-actions right"> 
				<% 
					
					if @action == "worktype_templates_add" 	
						@action_label = "Add Work Type Template"
					else
						@action_label = "Update Work Type Template"
					end 

				%>	
				
				<%= f.submit @action_label, class: "btn btn-success"  %>
				<a href="/worktype_templates/<%= @worktype_template.id %>/view" class="btn red">Cancel</a>
			</div>

		</div>


		<% end %>