<%= form_for @worktypeitem, url: {controller: "admin", action: @action} do |f| %>

			<div class="form-body">

				<% if @worktypeitem.errors.any? %>
					
					<div class="alert alert-danger">
						<% @worktypeitem.errors.full_messages.each do |error| %>
                        <strong>Error!</strong> <%= error %> <br />
                        <% end %>
                     </div>

				<% end %>	

				<h3 class="form-section">Main Info</h3>	
				<div class="form-group">						
							<label class="value_label">Name</label><br />
						    <strong class="value">
                             <%= @worktype_template.name %>                
                            </strong> 						
				</div>

				<div class="form-group">
						<%= f.label "Work Type" %><br />
						<%= f.select :work_type_id, WorkType.all.collect {|a| [a.name, a.id]  } %>
						<br />

				</div>

				<div class="form-group">
									<%= f.label :estimated_duration %> (in Minutes)<br />
									<%= f.text_field :estimated_duration %>
				</div>
	
				<div class="form-group">
									<%= f.label :notes %><br />
									<%= f.text_area :notes %>
									<%= f.hidden_field :worktype_template_id, :value => @worktype_template.id %>
				</div>				



				
				<div class="form-actions right"> 
				<% 
					
					if @action == "worktype_template_addworktype" 	
						@action_label = "Add Work Type"
					else
						@action_label = "Update Work Type"
					end 

				%>	
				
				<%= f.submit @action_label, class: "btn btn-success"  %>
				<a href="/worktype_templates/<%= @worktype_template.id %>/view" class="btn red">Cancel</a>
			</div>

		</div>


<% end %>

<script type="text/javascript">

  var arr = [];

  
  	<% WorkType.all.each do |wt|  %>
   
     arr[<%= wt.id %>] = <%= wt.average_duration %>;

  	<% end %>

  	$('#template_item_work_type_id').on('change', function()  {
    	
    	var index = $("#template_item_work_type_id").val();
    	var str = arr[index];
   		$("#template_item_estimated_duration" ).val(str);
    
  	});

  		<% if @action == "worktype_template_addworktype" %>
				
			$("#template_item_estimated_duration").val(<%= WorkType.first.average_duration %>);

		<% end %>


</script>

