<%= form_for @worktype, url: {controller: "admin", action: @action} do |f| %>

			<div class="form-body">

				<% if @worktype.errors.any? %>
					
					<div class="alert alert-danger">
						<% @worktype.errors.full_messages.each do |error| %>
                        <strong>Error!</strong> <%= error %> <br />
                        <% end %>
                     </div>

				<% end %>	

				<h3 class="form-section">Work Type Info</h3>	
				<div class="form-group">						
									<%= f.label :name %><br />
									<%= f.text_field :name %>						
				</div>

				<div class="form-group">					
									<%= f.label :average_duration %> (Minutes)<br />
									<%= f.text_field :average_duration %>						
				</div>
				
			
				<div class="form-group">
									<%= f.label :notes %><br />
									<%= f.text_area :notes %>
				</div>
				<div class="form-actions right"> 
				<% 
					
					if @action == "worktypes_add" 	
						@action_label = "Add Work Type"
					else
						@action_label = "Update Work Type"
					end 

				%>	
				
				<%= f.submit @action_label, class: "btn btn-success"  %>
				<a href="/worktypes/<%= @worktype.id %>/view" class="btn red">Cancel</a>
			</div>

		</div>


		<% end %>