<!-- This partial is used by the on progress reports and tables -->

          <table class="table table-striped table-bordered table-hover dataTable" id="sample_1" aria-describedby="sample_1_info">
                    <thead>
                           <tr role="row">
                                 <th>ID</th>
                                 <th>Job</th>
                                 <th>Completed</th>
                                 <th>Work Type</th>
                                 <th>Staff</th>
                                 <th>Start / End </th>
                                 <th>  Time Taken / Estimate / Diff<br />
                                  As of <%= Time.now.strftime("%m/%d/%Y at %I:%M %p") %></th>                                 <th>Notes</th>

                           </tr>
                    </thead>
                        
                     <tbody role="alert" aria-live="polite" aria-relevant="all">
                        <% sum = 0 %>
                        <% sum_estimate = 0 %>
                        <% @worktypeitems2.each do |worktype| %>
                        <tr>
                              
                              <td>
                                    <a href="/worktypeitems/<%= worktype.id %>/edit"> <%= worktype.id %></a>
                              </td>
                               <td>
                                    <a href="/jobs/<%= worktype.job.id %>/view"> <%= worktype.job.name %></a>
                              </td>

                              <td>
                                    <%= worktype.completed %>
                              </td>

                              <td>
                                    <%= worktype.work_type.name %>
                              </td>

                              <td>
                                    <% if worktype.user_id.nil? %> 

                                       None

                                    <% else %>
                                     
                                       <a href="/users/<%= worktype.user_id %>/view"><%= worktype.user.username %></a>

                                    <% end %>
                              </td>

                                

                              <td>
                                 <% if worktype.user_id.nil? %> 
                                    None
                                 <% else %>
                                    Start:<% if !worktype.start_datetime.nil? %> 
                                        <%= worktype.start_datetime.strftime("%m/%d/%Y at %I:%M %p") %> <br />
                                    <% end %>
                                    End:<% if !worktype.end_datetime.nil? %> 
                                        <%= worktype.end_datetime.strftime("%m/%d/%Y at %I:%M %p") %> <br /> <br />
                                    <% end %>
                                 <% end %>
                              </td>   

                              <td>
                                 <% sum_estimate += worktype.estimated_duration %>

                                 <%
                                     a = ((Time.now - worktype.start_datetime) / 60).round
                                     sum += a
                                 %>
                                 <%= a %> / <%= worktype.estimated_duration %> / 

                                 <% if (a - worktype.estimated_duration) < 0 %>
                                    <strong style="color: green"><%= a - worktype.estimated_duration  %></strong>
                                 <% else %>
                                    <strong style="color: red"><%= a - worktype.estimated_duration %></strong>
                                 <% end %>   
                              </td>

                              <td>
                                    <%= worktype.notes %>
                              </td>

                                
                        </tr>

                        <% end %>

                       

                     
                       </tbody>
                   </table><br />
                  
                   <table align="center" width = "100%">
                    <tr>
                      <td>
                        <span class="value" style="font-size: 1.3em" ><%= sum %> Mins or <%= '%.2f' % (sum / 60.00) %> hours</span><br />
                   <span class="value_label" >Total Time Accumulated</span>
                      </td>
                      <td>
                        <span class="value" style="font-size: 1.3em" ><%= sum_estimate %> Mins or <%= '%.2f' % (sum_estimate / 60.00) %> hours</span><br />
                   <span class="value_label" >Total Time Estimated</span>
                      </td>
                      <td>
                        <% 

                          if (sum - sum_estimate) > 0 
                            color ="red"
                          else  
                            color ="green"
                          end

                        %>
                        <span class="value" style="font-size: 1.3em;color: <%= color %>" ><%= sum - sum_estimate %> Mins or <%= '%.2f' % ((sum - sum_estimate) / 60.00) %> hours</span><br />
                   <span class="value_label" >Total Time Difference</span>
                      </td>
                    </tr>
                   </table> 
                   <br />
                   <em style="font-size: 0.8em">Note: Difference is calculated as <strong>Time Taken - Estimate</strong>,<br /> a negative <strong style="color: green">(green)</strong> result means the job is finished earlier than estimated and a positive <strong style="color: red">(red)</strong> result means that it took longer than the estimate.  </em>