<%

	@page_header = "Dashboard"

%>

<div class="row">
           	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
               <div class="dashboard-stat green">
                  <div class="visual">
                     <i class="icon-tasks"></i>
                  </div>
                  <div class="details">
                     <div class="number"><%= @work_items_on_progress %></div>
                     <div class="desc">Work Items<br/>In Progress</div>
                  </div>
                  <a class="more" href="#">
                  </a>                 
               </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
               <div class="dashboard-stat blue">
                  <div class="visual">
                     <i class="icon-check"></i>
                  </div>
                  <div class="details">
                     <div class="number">
                        <%= @work_items_completed_today %>
                     </div>
                     <div class="desc">                           
                        Work Items<br /> Completed Today
                     </div>
                  </div>
                  <a class="more" href="#">
                  </a>                 
               </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
               <div class="dashboard-stat yellow">
                  <div class="visual">
                     <i class="icon-pause"></i>
                  </div>
                  <div class="details">
                     <div class="number">                       
                      <%= @idle_staff %>
					 </div>
                     <div class="desc">Unlogged Staff</div>
                  </div>
                  <a class="more" href="#">
                  </a>                 
               </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
               <div class="dashboard-stat purple">
                  <div class="visual">
                     <i class="icon-check-empty"></i>
                  </div>
                  <div class="details">
                     <div class="number">                        
                     	<%= @work_items_open %>
					 </div>
                     <div class="desc">Work Items<br />Open / Unstarted </div>
                  </div>
                  <a class="more" href="#">
                  </a>                 
               </div>
            </div>
            
 </div>



 <div class="row">
 	<div class="col-md-12 ">
               <!-- BEGIN Portlet PORTLET-->
               <div class="portlet box green">
                  <div class="portlet-title">
                     <div class="caption"><i class="icon-reorder"></i>Work Items In Progress</div>
                     <div class="tools">
                        <a href="javascript:;" class="collapse"></a>
                        
                     </div>
                  </div>
                  <div class="portlet-body display-hide" style="display: block;">
                   
                  	<%= render 'work_item_report_onprogress' %>

                  </div>
               </div>
               <!-- END Portlet PORTLET-->
            </div>
 </div>

  <div class="row">
 	<div class="col-md-12 ">
               <!-- BEGIN Portlet PORTLET-->
               <div class="portlet box blue">
                  <div class="portlet-title">
                     <div class="caption"><i class="icon-reorder"></i>Work Items Completed Today</div>
                     <div class="tools">
                        <a href="javascript:;" class="collapse"></a>
                        
                     </div>
                  </div>
                  <div class="portlet-body display-hide" style="display: block;">
                   
                  	<%= render 'work_item_report' %>

                  </div>
               </div>
               <!-- END Portlet PORTLET-->
            </div>
 </div>

 <div class="row">
 	<div class="col-md-6 ">
               <!-- BEGIN Portlet PORTLET-->
               <div class="portlet box yellow">
                  <div class="portlet-title">
                     <div class="caption"><i class="icon-reorder"></i>Unlogged Staff</div>
                     <div class="tools">
                        <a href="javascript:;" class="collapse"></a>
                      
                     </div>
                  </div>
                  <div class="portlet-body display-hide" style="display: block;">
                     
                  	 <table class="table table-striped table-bordered table-hover dataTable" id="sample_1" aria-describedby="sample_1_info">
                    <thead>
                           <tr role="row">
                                 <th>ID</th>
                                 <th>Username</th>
                                 <th>Fullname</th>
                                 <th>Last Work Time</th>
                                
                           </tr>
                    </thead>
                    <tbody>
                    	<% @users.each do |user| %>

                    	<tr>
                    		<td><%= user.id%></td>
                    		<td><%= user.username%></td>
                    		<td><%= user.firstname + " " + user.lastname %></td>
                    		<td>
                    			<% if !user.lastwork.nil? %>
                           			
                           				<%= user.lastwork.strftime("%m/%d/%Y at %I:%M %p") %> 
                           				(<%= time_ago_in_words(user.lastwork) %> ago)
                           			
                           		<% else %>
                           		Haven't Worked Yet
                           		<% end %> 
                    		</td>
                    	</tr>
                    	<% end %>
                    </tbody>
                </table>

                  </div>
               </div>
               <!-- END Portlet PORTLET-->
            </div>
            <div class="col-md-6 ">
               <!-- BEGIN Portlet PORTLET-->
               <div class="portlet box purple">
                  <div class="portlet-title">
                     <div class="caption"><i class="icon-reorder"></i>Work Items Open / Unstarted</div>
                     <div class="tools">
                        <a href="javascript:;" class="collapse"></a>
                      
                     </div>
                  </div>
                  <div class="portlet-body display-hide" style="display: block;">
                     
                  	 <table class="table table-striped table-bordered table-hover dataTable" id="sample_1" aria-describedby="sample_1_info">
                    <thead>
                           <tr role="row">
                                 <th>ID</th>
                                 <th>Job</th>
                                 <th>Work Type</th>
                                 <th>Notes</th>
                           </tr>
                    </thead>
                    <tbody>
                    	<% @work_items.each do |work_item| %>

                    	<tr>
                    		<td><%= work_item.id%></td>
                    		<td>
                    			<a href="/jobs/<%= work_item.job.id %>/view"><%= work_item.job.name %></a>
                    		</td>
                    		<td><%= work_item.work_type.name %></td>
                    		<td><%= work_item.notes %></td>
                    		
                    	</tr>
                    	<% end %>
                    </tbody>
                </table>

                  </div>
               </div>
               <!-- END Portlet PORTLET-->
            </div>
 </div>

