<%

	@page_header = "Edit Job"
	@page_title_small = "Update Job Info"

%>

<div class="portlet box blue">
   <div class="portlet-title">
      <div class="caption"><i class="icon-reorder"></i></div>
      <div class="tools">

      </div>
   </div>
   <div class="portlet-body form">
   		<% @action = "jobs_edit" %>
   		<%= render 'job_form' %>
		
   </div>
</div>
