<%

	@page_header = "View Job Info"
	@page_title_small = "Job Details and Info"

%>

<div class="row">
   <div class="col-md-12">
      <div class="portlet box grey">
         <div class="portlet-title">
            <div class="caption"><i class="icon-reorder"></i></div>
            <div class="tools">

            </div>
         </div>
         <div class="portlet-body form">
         		


         <div class="form-body">

            <a style="float:right; margin-right: 10px;" href="<%= @link_to_pdf %>" class="btn yellow btn-small">View PDF</a>   
            <div class="form-group">                  
                           <label class="value_label">Job Name</label><br />
                           <strong class="value">
                             <%= @job.name %>                
                           </strong> 
            </div>

            <div class="form-group">                  
                           <label class="value_label">Completed</label><br />

                           <%
                            
                           if @job.completed
                              completed = "Yes"
                           else
                              completed = "No"
                           end

                              
                           %>

                           <strong class="value"><%= completed %></strong>                
            </div>

            <div class="form-group">                  
                           <label class="value_label">Date Created</label><br />
                           <strong class="value"><%= @job.date_created.strftime("%m/%d/%Y at %I:%M %p") %> (<%= time_ago_in_words(@job.date_created) %> ago)</strong>                
            </div>

            <div class="form-group">                  
                           <label class="value_label">Total Estimated Duration (Minutes)</label><br />
                           <strong class="value"><%= @job.work_type_item.sum(:estimated_duration) %></strong>                
            </div>
          

            <div class="form-group">                  
                           <label class="value_label">Notes</label><br />
                           <strong class="value"><%= @job.notes %>    </strong>                            
            </div>


            
            <div class="form-actions right"> 
            
            <a href="/jobs/<%= @job.id %>/edit" class="btn blue">Edit Job Info</a>  <a href="/jobs" class="btn blue">Back To Jobs List</a>
            </div>
         </div>

      </div>


      
      		
         </div>
      </div>
   </div>


   <div class="row">
   <div class="col-md-12">
      <div class="portlet box grey">
         <div class="portlet-title">
            <div class="caption"><i class="icon-reorder"></i>Work Items</div>
            <div class="actions">
               <a id="sample_editable_1_new" href="/jobs/<%= @job.id %>/addworkitem" class="btn green"><i class="icon-plus"> Add New Work Item to <%= @job.name %></i></a>
            </div>
         </div>
         <div class="portlet-body form">
         <div class="form-body">
         


          <%= render 'work_item_job_view' %>
                   
</div>
      </div>


      
            
         </div>
      </div>
   </div>

</div>