<%

	@page_header = "New Job"
	@page_title_small = "Add New Job"

%>

<div class="portlet box blue">
   <div class="portlet-title">
      <div class="caption"><i class="icon-reorder"></i></div>
      <div class="tools">

      </div>
   </div>
   <div class="portlet-body form">
   		<% @action = "jobs_add" %>
   		<%= render 'job_form' %>
		
   </div>
</div>
