<%

	@page_header = "Delete Job"
	@page_title_small = "Job Details and Info"

%>


<div class="row">
   <div class="col-md-12">
   <div class="note note-danger">
                        <h4 class="block">Are you sure you want to delete job "<strong><%= @job.name %></strong>"?</h4>
                        <p>
                           
                                       <a href="/jobs/<%= @job.id %>/delete_confirm" class="btn red">Continue With Delete!</a>  <a href="/jobs/<%= @job.id %>/view" class="btn blue">Cancel</a>

                        </p>
                     </div>
                  </div>
</div >


<div class="row">
   <div class="col-md-6">
      <div class="portlet box blue">
         <div class="portlet-title">
            <div class="caption"><i class="icon-reorder"></i></div>
            <div class="tools">

            </div>
         </div>
         <div class="portlet-body form">
               


         <div class="form-body">

            <h3 class="form-section">Job Info</h3>   
            <div class="form-group">                  
                           <label class="value_label">Name</label><br />
                           <strong class="value">
                             <%= @job.name %>                
                           </strong> 
            </div>

            <div class="form-group">                  
                           <label class="value_label">Completed</label><br />
                           <strong class="value"><%= @job.completed %></strong>                
            </div>

            <div class="form-group">                  
                           <label class="value_label">Date Created</label><br />
                           <strong class="value"><%= @job.date_created %> (<%= time_ago_in_words(@job.date_created) %> ago)</strong>                
            </div>

            <div class="form-group">                  
                           <label class="value_label">Total Estimated Duration (Minutes)</label><br />
                           <strong class="value"><%= @job.total_estimated_duration %></strong>                
            </div>
          

            <div class="form-group">                  
                           <label class="value_label">Notes</label><br />
                           <strong class="value"><%= @job.notes %>    </strong>                            
            </div>


            
            <div class="form-actions right"> 
            
            <a href="/jobs/<%= @job.id %>/edit" class="btn blue">Edit Job Info</a>  <a href="/jobs" class="btn blue">Back To Jobs List</a>
            </div>
         </div>

      </div>


      
            
         </div>
      </div>
   </div>
</div>