<%

	@page_header = "Edit Work Item"
	@page_title_small = "Edit Work Item"

%>

<div class="portlet box blue">
   <div class="portlet-title">
      <div class="caption"><i class="icon-reorder"></i></div>
      <div class="tools">

      </div>
   </div>
   <div class="portlet-body form">
   		<% @action = "jobs_editworkitem" %>
   		<%= render 'job_addworkitem_form' %>
   </div>
</div>
