<%

	@page_header = "New Work Item"
	@page_title_small = "Add New Work Item"

%>

<div class="portlet box blue">
   <div class="portlet-title">
      <div class="caption"><i class="icon-reorder"></i></div>
      <div class="tools">

      </div>
   </div>
   <div class="portlet-body form">
   		<% @action = "jobs_addworkitem" %>
   		<%= render 'job_addworkitem_form' %>
		
   </div>
</div>
