<%

	@page_header = "Completed Jobs"
	@page_title_small = "Completed Jobs with all Work Items done"

%>



<div class="portlet box blue">
                  <div class="portlet-title">
                     <div class="caption"><i class="icon-user"></i></div>
                     <div class="tools">
                      
                     </div>
                  </div>
                  <div class="portlet-body">
                     <div class="table-toolbar">
                        <div class="btn-group">
                           <a id="sample_editable_1_new" class="btn green" href="/jobs/add">
                           Add New <i class="icon-plus"></i>
                           </a>
                        </div>
                        <div class="btn-group pull-right">
                      
                        </div>
                     </div>

                   
                    <table class="table table-striped table-bordered table-hover dataTable" id="sample_1" aria-describedby="sample_1_info">
                    <thead>
                           <tr role="row">
                           		<th>ID</th>
                           		<th>Name</th>
                              <th>Est. Duration (Mins)</th>
                              <th>Date Created</th>
                              <th>Completed</th>
                           		<th>Notes</th>
                           		<th></th>

                           </tr>
                    </thead>
                        
                     <tbody role="alert" aria-live="polite" aria-relevant="all">
                   
                     	<% @jobs.each do |job| %>
                        <tr>
                              
                              <td>
                              		<%= job.id %>
                              </td>

                              <td>
                              		<%= job.name %>
                              </td>

                              <td>
                              		<%= job.total_estimated_duration %>
                              </td>

                              <td>
                                  <%= job.date_created.strftime("%m/%d/%Y at %I:%M %p") %>
                              </td>

                              <td>
                                  
                                   <%= "Yes" if job.completed %>

                              </td>

                              <td>
                                    <%= job.notes %>
                              </td>
                              
                              

                        	  <td align="center">

                        	  	<a href="/jobs/<%= job.id %>/view" class="btn yellow" title="View"><i class="icon-eye-open"></i></a> 
                        	  	<a href="/jobs/<%= job.id %>/edit" class="btn blue" title="Edit"><i class="icon-edit"></i></a> 
                        	  	<a href="/jobs/<%= job.id %>/delete" class="btn red" title="Delete"><i class="icon-remove"></i></a> 


                        	  </td>      
                        </tr>

                        <% end %>

                       

                     
                       </tbody>
                   </table>


                  </div>
               </div>


          <script type="text/javascript">
               	  
		       jQuery(document).ready(function() {       
		   			$('#sample_1').dataTable({
		               
		                "aLengthMenu": [
		                    [5, 15, 20, -1],
		                    [5, 15, 20, "All"] // change per page values here
		                ],
		                // set the initial value
		                "iDisplayLength": 5,
		                "sPaginationType": "bootstrap",
		                "oLanguage": {
		                    "sLengthMenu": "_MENU_ records per page",
		                    "oPaginate": {
		                        "sPrevious": "Prev",
		                        "sNext": "Next"
		                    }
		                },
		                "aoColumnDefs": [{
		                        'bSortable': false,
		                        'aTargets': [0]
		                    }
		                ]
           			 });
		      	});
		   
               	      
				</script>