<%

	@page_header = "Report - Hours Accrued Per Employee"
	@page_title_small = ""

%>



<div class="portlet box blue">
                  <div class="portlet-title">
                     <div class="caption"><i class="icon-user"></i></div>
                     <div class="tools">
                      
                     </div>
                  </div>
                  <div class="portlet-body">
                     <div class="table-toolbar">
                        <div class="btn-group">
                     
                        </div>
                        <div class="btn-group pull-right">
                      
                        </div>
                     </div>

                   
                    <table class="table table-striped table-bordered table-hover dataTable" id="sample_1" aria-describedby="sample_1_info">
                    <thead>
                           <tr role="row">
                           		<th>ID</th>
                           		<th>Full Name</th>
                           		<th>Username</th>
                           		<th>Type</th>
                           		<th>Active</th>
                                 <th>Notes</th>
                           		<th></th>

                           </tr>
                    </thead>
                        
                     <tbody role="alert" aria-live="polite" aria-relevant="all">
                   
                     	<% @users.each do |user| %>
                        <tr>
                              
                              <td>
                              		<%= user.id %>
                              </td>

                              <td>
                              		<%= user.lastname + ", " + user.firstname %>
                              </td>

                              <td>
                              		<%= user.username %>
                              </td>

                              <td>
                              		<%= user.user_type %>
                              </td>

                              <% if user.isactive == true %>
                              	<td class=" "><span class="label label-sm label-success">Active</span></td>
                              <% else %>
                        	  	   <td class=" "><span class="label label-sm label-default">Inactive</span></td>
                        	   <% end %>		


                              <td>
                                    <%= user.notes %>
                              </td>

                        	  <td align="center">

                        	  	<a href="/reports/per_employee/<%= user.id %>/select_date" class="btn yellow" title="View Report"><i class="icon-file-text"></i> View Report</a> 
                        	  	

                        	  </td>      
                        </tr>

                        <% end %>

                       

                     
                       </tbody>
                   </table>


                  </div>
               </div>


               <script type="text/javascript">
               	  
		       jQuery(document).ready(function() {       
		   			$('#sample_1').dataTable({
		               
		                "aLengthMenu": [
		                    [5, 15, 20, -1],
		                    [5, 15, 20, "All"] // change per page values here
		                ],
		                // set the initial value
		                "iDisplayLength": 5,
		                "sPaginationType": "bootstrap",
		                "oLanguage": {
		                    "sLengthMenu": "_MENU_ records per page",
		                    "oPaginate": {
		                        "sPrevious": "Prev",
		                        "sNext": "Next"
		                    }
		                },
		                "aoColumnDefs": [{
		                        'bSortable': false,
		                        'aTargets': [0]
		                    }
		                ]
           			 });
		      	});
		   
               	      
				</script>