<%

	@page_header = "REPORT - Accrued Hours Per Staff / Work Type"
	@page_title_small = ""

%>



<div class="portlet box ">
                
                  <div class="portlet-body">
                     <div class="table-toolbar">
                        <div class="btn-group">
                         
                        </div>
                        <div class="btn-group pull-right">
                      
                        </div>
                     </div>
					
					 <% if flash[:validation_error] %>
						
							<div class="alert alert-danger">
								<strong>Error!</strong> <%= flash[:validation_error] %> <br />
							</div>	
	                        
                     <% end %>
						
                     Staff Name:<br /><strong><%= @user.firstname + " " + @user.lastname  %></strong> <br /><br />
                     Username:<br /><strong><%= @user.username  %> </strong><br /><br />
                     <strong>Select a Date Coverage for Report</strong><br /><br />
                     <% @a = "" %>

                     <%= form_for @a, :url => {controller: "admin", action: "reports_per_employee_per_job_view"} do |f| %>
                     Work Type: <br /><%= f.select :work_type_id, @worktypes.collect {|a| [a.name, a.id]  } %><br /><br />

                     From:<br /><%= f.date_field :start_datetime %>
                     <br /><br />
                     To:<br /><%= f.date_field :end_datetime %>
                     <%= f.hidden_field :employee_id, :value => params[:id] %><br /><br /><br />
                     <%= f.submit :value=> "View Report", :class => "btn yellow"%>
                     <% end %>


                  </div>
               </div>


               <script type="text/javascript">
               	  
		       jQuery(document).ready(function() {       
		   			$('#sample_1').dataTable({
		               
		                "aLengthMenu": [
		                    [5, 15, 20, -1],
		                    [5, 15, 20, "All"] // change per page values here
		                ],
		                // set the initial value
		                "iDisplayLength": 5,
		                "sPaginationType": "bootstrap",
		                "oLanguage": {
		                    "sLengthMenu": "_MENU_ records per page",
		                    "oPaginate": {
		                        "sPrevious": "Prev",
		                        "sNext": "Next"
		                    }
		                },
		                "aoColumnDefs": [{
		                        'bSortable': false,
		                        'aTargets': [0]
		                    }
		                ]
           			 });
		      	});
		   
               	      
				</script>