<%

	@page_header = "Report - Hours Accrued Per Job"
	@page_title_small = ""

%>

<div class="row">
   <div class="col-md-12">
      <div class="portlet box ">
         <div class="portlet-title">
            <div class="caption"></div>
            <div class="tools">

            </div>
         </div>
         <div class="portlet-body form">
         		


         <div class="form-body">
            <a style="float:right; margin-right: 10px;" href="<%= @link_to_pdf %>" class="btn yellow btn-small">View PDF</a>  

            <div class="form-group">                  
                           <label class="value_label">Job Name</label><br />
                           <strong class="value">
                             <%= @job.name %>                
                           </strong> 
            </div>

            <div class="form-group">                  
                           <label class="value_label">Completed</label><br />
                           <strong class="value"><%= @job.completed %></strong>                
            </div>

            <div class="form-group">                  
                           <label class="value_label">Date Created</label><br />
                           <strong class="value"><%= @job.date_created.strftime("%m/%d/%Y at %I:%M %p") %> (<%= time_ago_in_words(@job.date_created) %> ago)</strong>                
            </div>

            <div class="form-group">                  
                           <label class="value_label">Total Estimated Duration (Minutes)</label><br />
                           <strong class="value"><%= @job.total_estimated_duration %></strong>                
            </div>
          

            <div class="form-group">                  
                           <label class="value_label">Notes</label><br />
                           <strong class="value"><%= @job.notes %>    </strong>                            
            </div>

            <hr />
          
            <%= render 'work_item_report' %>
            
           
         </div>

      </div>


      
      		
         </div>
      </div>
   </div>


   

</div>