<%

	@page_header = "Report - Hours Accrued By Date"
	@page_title_small = ""

%>

<div class="row">
   <div class="col-md-12">
      <div class="portlet box ">
         <div class="portlet-title">
            <div class="caption"></div>
            <div class="tools">

            </div>
         </div>
         <div class="portlet-body form">
         		


         <div class="form-body">

            <a style="float:right; margin-right: 10px;" href="<%= @link_to_pdf %>" class="btn yellow btn-small">View PDF</a>   

            <div class="form-group">                  
                           <label class="value_label">Start Date</label><br />
                           <strong class="value">
                             <%= @start_date %>                
                           </strong> 
            </div>
            <div class="form-group">                  
                           <label class="value_label">End Date</label><br />
                           <strong class="value">
                             <%= @end_date %>                
                           </strong> 
            </div>
            

            <hr />
          
            <%= render 'work_item_report' %>
            
           
         </div>

      </div>


      
      		
         </div>
      </div>
   </div>


   

</div>