 <%

  @page_header = "REPORT - Accrued Hours Per Staff / Job"
  @page_title_small = ""

%>
 <div class="row">
   <div class="col-md-12">
      <div class="portlet box ">
         
         <div class="portlet-body form">
         <div class="form-body">

         <a style="float:right; margin-right: 10px;" href="<%= @link_to_pdf %>" class="btn yellow btn-small">View PDF</a>   
         
           Staff Name:<br /><strong><%= @user.firstname + " " + @user.lastname  %></strong> <br /><br />
           Username:<br /><strong><%= @user.username  %> </strong><br /><br />
           Selected Date: <br /><strong><%= @start_date %> to <%= @end_date %></strong><br /><br />


           <%= render 'work_item_report' %>

</div>
      </div>


      
            
         </div>
      </div>
   </div>

 