<%

	@page_header = "Delete User"
	@page_title_small = "Delete User Details and Info"

%>


<div class="row">
   <div class="col-md-12">
   <div class="note note-danger">
                        <h4 class="block">Are you sure you want to delete user "<strong><%= @user.firstname + " " + @user.lastname %>"</strong>?</h4>
                        <p>
                           
                                       <a href="/users/<%= @user.id %>/delete_confirm" class="btn red">Continue With Delete!</a>  <a href="/users/<%= @user.id %>/view" class="btn blue">Cancel</a>

                        </p>
                     </div>
                  </div>
</div >

<div class="row">
   <div class="col-md-6">
      <div class="portlet box blue">
         <div class="portlet-title">
            <div class="caption"><i class="icon-reorder"></i></div>
            <div class="tools">

            </div>
         </div>
         <div class="portlet-body form">
         		


         <div class="form-body">

            <h3 class="form-section">User Info</h3>   
            <div class="form-group">                  
                           <label class="value_label">Username</label><br />
                           <strong class="value">
                             <%= @user.username %>                
                           </strong> 
            </div>

            <div class="form-group">                  
                           <label class="value_label">Password</label><br />
                           <strong class="value"><%= @user.password %></strong>                
            </div>
            <div class="form-group">                  
                           <label class="value_label">User Type</label><br />
                           <strong class="value"><%= @user.user_type %> </strong>                               
            </div>

            <div class="form-group">                  
                           <label class="value_label">Is Active?</label><br />
                           <strong class="value"><%= @user.isactive %> </strong>                               
            </div>

         
            <h3 class="form-section">Person Info</h3> 
             <div class="form-group">                  
                           <label class="value_label">Full Name</label><br />
                           <strong class="value"><%= @user.firstname + " " + @user.lastname %>  </strong>                              
            </div>

            <div class="form-group">                  
                           <label class="value_label">Notes</label><br />
                           <strong class="value"><%= @user.notes %>    </strong>                            
            </div>


            
            
         </div>

      </div>


      
      		
         </div>
      </div>
   </div>
</div>