<%

	@page_header = "New User"
	@page_title_small = "Add New Users or Staff"

%>

<div class="portlet box blue">
   <div class="portlet-title">
      <div class="caption"><i class="icon-reorder"></i></div>
      <div class="tools">

      </div>
   </div>
   <div class="portlet-body form">
   		<% @action = "users_add" %>
   		<%= render 'user_form' %>
		
   </div>
</div>
