<%

	@page_header = "View User"
	@page_title_small = "User Details and Info"

%>

<div class="row">
   <div class="col-md-6">
      <div class="portlet box blue">
         <div class="portlet-title">
            <div class="caption"><i class="icon-reorder"></i></div>
            <div class="tools">

            </div>
         </div>
         <div class="portlet-body form">
         		


         <div class="form-body">

            <h3 class="form-section">User Info</h3>   
            <div class="form-group">                  
                           <label class="value_label">Username</label><br />
                           <strong class="value">
                             <%= @user.username %>                
                           </strong> 
            </div>

            <div class="form-group">                  
                           <label class="value_label">Password</label><br />
                           <strong class="value"><%= @user.password %></strong>                
            </div>
            <div class="form-group">                  
                           <label class="value_label">User Type</label><br />
                           <strong class="value"><%= @user.user_type %> </strong>                               
            </div>

            <div class="form-group">                  
                           <label class="value_label">Is Active?</label><br />
                           <strong class="value"><%= @user.isactive %> </strong>                               
            </div>

         
            <h3 class="form-section">Person Info</h3> 
             <div class="form-group">                  
                           <label class="value_label">Full Name</label><br />
                           <strong class="value"><%= @user.firstname + " " + @user.lastname %>  </strong>                              
            </div>

            <div class="form-group">                  
                           <label class="value_label">Notes</label><br />
                           <strong class="value"><%= @user.notes %>    </strong>                            
            </div>

            <h3 class="form-section">Work Status</h3>
            <div class="form-group">                  
                           <label class="value_label">Is Working</label><br />
                           <strong class="value"><%= @user.isworking %>  </strong>
            </div>
            <div class="form-group">                  
                           <label class="value_label">Date / Time of Last Work</label><br />
                          <% if !@user.lastwork.nil? %>
                           <strong class="value"><%= @user.lastwork.strftime("%m/%d/%Y at %I:%M %p") %>    </strong>
                           <% end %>                            
            </div>




            
            <div class="form-actions right"> 
            
            <a href="/users/<%= @user.id %>/edit" class="btn blue">Edit Info</a>  <a href="/users" class="btn blue">Back To Users List</a>
            </div>
         </div>

      </div>


      
      		
         </div>
      </div>
   </div>
</div>