<%

	@page_header = "Update User"
	@page_title_small = "Update User or Staff"

%>

<div class="portlet box blue">
   <div class="portlet-title">
      <div class="caption"><i class="icon-reorder"></i></div>
      <div class="tools">

      </div>
   </div>
   <div class="portlet-body form">
         <% @action = "users_edit" %>
   		<%= render 'user_form' %>
		
   </div>
</div>
