<%

	@page_header = "Delete Work Type Template"
	@page_title_small = "Work Type Template Details and Info"

%>


<div class="row">
   <div class="col-md-12">
   <div class="note note-danger">
                        <h4 class="block">Are you sure you want to delete work type template "<strong><%= @worktype_template.name %></strong>"?</h4>
                        <p>
                           
                                       <a href="/worktype_templates/<%= @worktype_template.id %>/delete_confirm" class="btn red">Continue With Delete!</a>  <a href="/worktype_templates/<%= @worktype_template.id %>/view" class="btn blue">Cancel</a>

                        </p>
                     </div>
                  </div>
</div >

<div class="row">
   <div class="col-md-6">
      <div class="portlet box blue">
         <div class="portlet-title">
            <div class="caption"><i class="icon-reorder"></i></div>
            <div class="tools">

            </div>
         </div>
         <div class="portlet-body form">
         		


         <div class="form-body">

             <h3 class="form-section">Work Type Info</h3>   
            <div class="form-group">                  
                           <label class="value_label">Name</label><br />
                           <strong class="value">
                             <%= @worktype_template.name %>                
                           </strong> 
            </div>

            <div class="form-group">                  
                           <label class="value_label">Notes</label><br />
                           <strong class="value"><%= @worktype_template.notes %>    </strong>                            
            </div>




            
            
         </div>

      </div>


      
      		
         </div>
      </div>
   </div>
</div>