<%

	@page_header = "Delete Work Item"
	@page_title_small = "Work Item Details and Info"

%>


<div class="row">
   <div class="col-md-12">
   <div class="note note-danger">
                        <h4 class="block">Are you sure you want to delete work item "<strong><%= @worktypeitem.work_type.name %> for job <%= @worktypeitem.job.name %></strong>"?</h4>
                        <p>
                           
                                       <a href="/worktypeitems/<%= @worktypeitem.id %>/delete_confirm" class="btn red">Continue With Delete!</a>  <a href="/jobs/<%= @worktypeitem.job.id %>/view" class="btn blue">Cancel</a>

                        </p>
                     </div>
                  </div>
</div >


<div class="row">
   <div class="col-md-6">
      <div class="portlet box blue">
         <div class="portlet-title">
            <div class="caption"><i class="icon-reorder"></i></div>
            <div class="tools">

            </div>
         </div>
         <div class="portlet-body form">
               


         <div class="form-body">

            <h3 class="form-section">Work Item Info</h3>   
            <div class="form-group">                  
                           <label class="value_label">Name</label><br />
                           <strong class="value">
                             <%= @worktypeitem.work_type.name %>                
                           </strong> 
            </div>

            <div class="form-group">                  
                           <label class="value_label">Job</label><br />
                           <strong class="value">
                             <%= @worktypeitem.job.name %>                
                           </strong> 
            </div>

            
         </div>

      </div>


      
            
         </div>
      </div>
   </div>
</div>