<%

	@page_header = "View Work Type Template Info"
	@page_title_small = "Work Type Templates and Info"

%>

<div class="row">
   <div class="col-md-12">
      <div class="portlet box blue">
         <div class="portlet-title">
            <div class="caption"><i class="icon-reorder"></i></div>
            <div class="tools">

            </div>
         </div>
         <div class="portlet-body form">
         		


         <div class="form-body">

            <h3 class="form-section">Work Type Template Info</h3>   
            <div class="form-group">                  
                           <label class="value_label">Name</label><br />
                           <strong class="value">
                             <%= @worktype_template.name %>                
                           </strong> 
            </div>


            <div class="form-group">                  
                           <label class="value_label">Total Estimated Duration</label><br />
                           <strong class="value"><%= @worktype_template.template_item.sum(:estimated_duration)%>    </strong>                            
            </div>


            <div class="form-group">                  
                           <label class="value_label">Notes</label><br />
                           <strong class="value"><%= @worktype_template.notes %>    </strong>                            
            </div>


            
            <div class="form-actions right"> 
            
            <a href="/worktype_templates/<%= @worktype_template.id %>/edit" class="btn blue">Edit Work Type Template Info</a>  <a href="/worktype_templates" class="btn blue">Back To Work Type Template List</a>
            </div>
         </div>

      </div>


      
      		
         </div>
      </div>
   </div>


   <div class="row">
   <div class="col-md-12">
      <div class="portlet box grey">
         <div class="portlet-title">
            <div class="caption"><i class="icon-reorder"></i>Work Types</div>
            <div class="actions">
               <a id="sample_editable_1_new" href="/worktype_templates/<%= @worktype_template.id %>/addworktype" class="btn green"><i class="icon-plus"> Add New Work Type to <%= @worktype_template.name %> Template</i></a>
            </div>
         </div>
         <div class="portlet-body form">
         <div class="form-body">

             <table class="table table-striped table-bordered table-hover dataTable" id="sample_1" aria-describedby="sample_1_info">
                    <thead>
                           <tr role="row">
                                 <th>ID</th>
                                 <th>Work Type</th>
                                 <th>Estimated Duration</th>
                                 <th>Notes</th>
                                 <th></th>

                           </tr>
                    </thead>
                        
                     <tbody role="alert" aria-live="polite" aria-relevant="all">

                        <% @worktype_template.template_item.each do |worktype| %>
                        <tr>
                              
                              
                              <td>
                                    <%= worktype.id %>
                              </td>

                              <td>
                                    <%= worktype.work_type.name %>
                              </td>

                              <td>
                                     <%= worktype.estimated_duration %>
                              </td>

                              <td>
                                    <%= worktype.notes %>
                              </td>
                              <td>                               
                                <a href="/worktype_templates/<%= worktype.id %>/editworktype" class="btn blue" title="Edit"><i class="icon-edit"></i></a> 
                              <a href="/worktype_templates/<%= worktype.id %>/deleteworktype" class="btn red" title="Delete"><i class="icon-remove"></i></a> 

                              </td>

                                
                        </tr>

                        <% end %>

                       

                     
                       </tbody>
                   </table><br />
                  
                 
          
                   
</div>
      </div>


      
            
         </div>
      </div>
   </div>

</div>