 <%

  @page_header = "Open Work Items"
  @page_title_small = "Unclaimed / Unstarted Work Items"

%>
 <div class="row">
   <div class="col-md-12">
      <div class="portlet box grey">
         <div class="portlet-title">
            <div class="caption"><i class="icon-reorder"></i>Work Items</div>
            <div class="actions">
            
            </div>
         </div>
         <div class="portlet-body form">
         <div class="form-body">
         


          <table class="table table-striped table-bordered table-hover dataTable" id="sample_1" aria-describedby="sample_1_info">
                    <thead>
                           <tr role="row">
                                 <th>ID</th>
                                 <th>Job</th>
                                 <th>Completed</th>
                                 <th>Work Type</th>
                                
                                 <th>Notes</th>
                                 <th></th>

                           </tr>
                    </thead>
                        
                     <tbody role="alert" aria-live="polite" aria-relevant="all">
                        <% sum = 0 %>
                        <% @workitems.each do |worktype| %>
                        <tr>
                              
                              <td>
                                    <%= worktype.id %>
                              </td>

                              <td>
                                    <a href="/jobs/<%= worktype.job.id %>/view"><%= worktype.job.name %></a>
                              </td>

                              <td>
                                    <%= worktype.completed %>
                              </td>

                              <td>
                                    <%= worktype.work_type.name %>
                              </td>

                              

                                

                              

                              <td>
                                    <%= worktype.notes %>
                              </td>

                             <td align="center">

                              <a href="/worktypeitems/<%= worktype.id %>/edit" class="btn blue" title="Edit"><i class="icon-edit"></i></a> 
                              <a href="/worktypeitems/<%= worktype.id %>/delete" class="btn red" title="Delete"><i class="icon-remove"></i></a> 


                             </td>      
                        </tr>

                        <% end %>

                       

                     
                       </tbody>
                   </table><br />
                   
</div>
      </div>


      
            
         </div>
      </div>
   </div>
   <script type="text/javascript">
                  
           jQuery(document).ready(function() {       
            $('#sample_1').dataTable({
                   
                    "aLengthMenu": [
                        [5, 15, 20, -1],
                        [5, 15, 20, "All"] // change per page values here
                    ],
                    // set the initial value
                    "iDisplayLength": 5,
                    "sPaginationType": "bootstrap",
                    "oLanguage": {
                        "sLengthMenu": "_MENU_ records per page",
                        "oPaginate": {
                            "sPrevious": "Prev",
                            "sNext": "Next"
                        }
                    },
                    "aoColumnDefs": [{
                            'bSortable': false,
                            'aTargets': [0]
                        }
                    ]
                 });
            });
       
                      
        </script>