<%

	@page_header = "Update Work Type Template"
	@page_title_small = "Update Work Type Template"

%>

<div class="portlet box blue">
   <div class="portlet-title">
      <div class="caption"><i class="icon-reorder"></i></div>
      <div class="tools">

      </div>
   </div>
   <div class="portlet-body form">
         <% @action = "worktype_templates_edit" %>
   		<%= render 'worktype_template_form' %>
		
   </div>
</div>
