<%

	@page_header = "Add Work Type to Template"
	
%>

<div class="portlet box blue">
   <div class="portlet-title">
      <div class="caption"><i class="icon-reorder"></i></div>
      <div class="tools">

      </div>
   </div>
   <div class="portlet-body form">
   		<% @action = "worktype_templates_add_work_type" %>
   		<%= render 'worktype_template_addworktype_form' %>
		
   </div>
</div>
