<%

	@page_header = "View Work Type"
	@page_title_small = "Work Type Details and Info"

%>

<div class="row">
   <div class="col-md-6">
      <div class="portlet box blue">
         <div class="portlet-title">
            <div class="caption"><i class="icon-reorder"></i></div>
            <div class="tools">

            </div>
         </div>
         <div class="portlet-body form">
         		


         <div class="form-body">

            <h3 class="form-section">Work Type Info</h3>   
            <div class="form-group">                  
                           <label class="value_label">Name</label><br />
                           <strong class="value">
                             <%= @worktype.name %>                
                           </strong> 
            </div>

            <div class="form-group">                  
                           <label class="value_label">Average Duration (Minutes)</label><br />
                           <strong class="value"><%= @worktype.average_duration %></strong>                
            </div>
          

            <div class="form-group">                  
                           <label class="value_label">Notes</label><br />
                           <strong class="value"><%= @worktype.notes %>    </strong>                            
            </div>


            
            <div class="form-actions right"> 
            
            <a href="/worktypes/<%= @worktype.id %>/edit" class="btn blue">Edit Work Type</a>  <a href="/worktypes" class="btn blue">Back To Work Types List</a>
            </div>
         </div>

      </div>


      
      		
         </div>
      </div>
   </div>
</div>