<%

	@page_header = "Work Type Templates"
	@page_title_small = "Manage Available Work Type Templates"

%>



<div class="portlet box blue">
                  <div class="portlet-title">
                     <div class="caption"><i class="icon-user"></i></div>
                     <div class="tools">
                      
                     </div>
                  </div>
                  <div class="portlet-body">
                     <div class="table-toolbar">
                        <div class="btn-group">
                           <a id="sample_editable_1_new" class="btn green" href="/worktype_templates/add">
                           Add New <i class="icon-plus"></i>
                           </a>
                        </div>
                        <div class="btn-group pull-right">
                      
                        </div>
                     </div>

                   
                    <table class="table table-striped table-bordered table-hover dataTable" id="sample_1" aria-describedby="sample_1_info">
                    <thead>
                           <tr role="row">
                           		<th>ID</th>
                           		<th>Name</th>
                              <th>Work Types</th>
                           		<th width="20%">Notes</th>
                           		<th></th>

                           </tr>
                    </thead>
                        
                     <tbody role="alert" aria-live="polite" aria-relevant="all">
                   
                     	<% @worktype_templates.each do |template| %>
                        <tr>
                              
                              <td>
                              		<%= template.id %>
                              </td>

                              <td>
                              		<%= template.name %>
                              </td>

                              <td>
                                    <ul>
                                    <% template.template_item.each do |ti| %>

                                      <li><%= ti.work_type.name %>

                                    <% end %>                                 
                                    </ul>
                              </td>


                              <td>
                                    <%= template.notes %>
                              </td>

                        	  <td align="center">

                        	  	<a href="/worktype_templates/<%= template.id %>/view" class="btn yellow" title="View"><i class="icon-eye-open"></i></a> 
                        	  	<a href="/worktype_templates/<%= template.id %>/edit" class="btn blue" title="Edit"><i class="icon-edit"></i></a> 
                        	  	<a href="/worktype_templates/<%= template.id %>/delete" class="btn red" title="Delete"><i class="icon-remove"></i></a> 


                        	  </td>      
                        </tr>

                        <% end %>

                       

                     
                       </tbody>
                   </table>


                  </div>
               </div>


               <script type="text/javascript">
               	  
		       jQuery(document).ready(function() {       
		   			$('#sample_1').dataTable({
		               
		                "aLengthMenu": [
		                    [5, 15, 20, -1],
		                    [5, 15, 20, "All"] // change per page values here
		                ],
		                // set the initial value
		                "iDisplayLength": 5,
		                "sPaginationType": "bootstrap",
		                "oLanguage": {
		                    "sLengthMenu": "_MENU_ records per page",
		                    "oPaginate": {
		                        "sPrevious": "Prev",
		                        "sNext": "Next"
		                    }
		                },
		                "aoColumnDefs": [{
		                        'bSortable': false,
		                        'aTargets': [0]
		                    }
		                ]
           			 });
		      	});
		   
               	      
				</script>