<%

  @page_header = "Completed Work Items"
  @page_title_small = "Finished Work Items"

%>
 <div class="row">
   <div class="col-md-12">
      <div class="portlet box grey">
         <div class="portlet-title">
            <div class="caption"><i class="icon-reorder"></i>Work Items</div>
            <div class="actions">
            
            </div>
         </div>
         <div class="portlet-body form">
         <div class="form-body">
         


          <table class="table table-striped table-bordered table-hover dataTable" id="sample_1" aria-describedby="sample_1_info">
                    <thead>
                           <tr role="row">
                                 <th>ID</th>
                                 <th>Job</th>
                                 <th>Completed</th>
                                 <th>Work Type</th>
                                 <th>Staff</th>
                                 <th>Start / End </th>
                                 <th> Estimate / Time Taken / Diff</th>
                                 <th>Notes</th>
                                 <th></th>

                           </tr>
                    </thead>
                        
                     <tbody role="alert" aria-live="polite" aria-relevant="all">
                        <% sum = 0 %>
                        <% sum_estimate = 0 %>
                        <% @workitems.each do |worktype| %>
                        <tr>
                              
                              <td>
                                    <%= worktype.id %>
                              </td>

                              <td>
                                    <a href="/jobs/<%= worktype.job.id %>/view"><%= worktype.job.name %></a>
                              </td>

                              <td>
                                    <%= worktype.completed %>
                              </td>

                              <td>
                                    <%= worktype.work_type.name %>
                              </td>

                              <td>

                                  

                                    <% if worktype.user_id.nil? %> 

                                       None

                                    <% else %>
                                     
                                       <a href="/users/<%= worktype.user_id %>/view"><%= worktype.user.username %></a>

                                    <% end %>
                              </td>

                                

                              <td>

                                <% sum_estimate += worktype.estimated_duration %>
                                  <%= worktype.estimated_duration %> / 
                                 <% if worktype.user_id.nil? %> 
                                    None
                                 <% else %>
                                    Start:<% if !worktype.start_datetime.nil? %> 
                                        <%= worktype.start_datetime.strftime("%m/%d/%Y at %I:%M %p") %> <br />
                                    <% end %>
                                    End:<% if !worktype.end_datetime.nil? %> 
                                        <%= worktype.end_datetime.strftime("%m/%d/%Y at %I:%M %p") %> <br /> <br />
                                    <% end %>
                                 <% end %>
                              </td>   

                              <td>
                                 <% if worktype.end_datetime.nil? %>
                                    None
                                 <% else %>
                                      <%
                                         a = ((worktype.end_datetime - worktype.start_datetime) / 60).round
                                         sum += a
                                     %>
                                     <%= a %> / 
                                     <% if (a - worktype.estimated_duration) < 0 %>
                                        <strong style="color: green"><%= a - worktype.estimated_duration  %></strong>
                                     <% else %>
                                        <strong style="color: red"><%= a - worktype.estimated_duration %></strong>
                                     <% end %>   
                                 <% end %>
                              </td>

                              <td>
                                    <%= worktype.notes %>
                              </td>

                             <td align="center">

                              <a href="/worktypeitems/<%= worktype.id %>/edit" class="btn blue" title="Edit"><i class="icon-edit"></i></a> 


                             </td>      
                        </tr>

                        <% end %>

                       

                     
                       </tbody>
                   </table><br />
                  <table align="center" width = "100%">
                    <tr>
                      <td>
                        <span class="value" style="font-size: 2em" ><%= sum %> Mins or <%= '%.2f' % (sum / 60.00) %> hours</span><br />
                   <span class="value_label" >Total Time Accumulated</span>
                      </td>
                      <td>
                        <span class="value" style="font-size: 2em" ><%= sum_estimate %> Mins or <%= '%.2f' % (sum_estimate / 60.00) %> hours</span><br />
                   <span class="value_label" >Total Time Estimated</span>
                      </td>
                      <td>
                        <% 

                          if (sum - sum_estimate) > 0 
                            color ="red"
                          else  
                            color ="green"
                          end

                        %>
                        <span class="value" style="font-size: 2em;color: <%= color %>" ><%= sum - sum_estimate %> Mins or <%= '%.2f' % ((sum - sum_estimate) / 60.00) %> hours</span><br />
                   <span class="value_label" >Total Time Difference</span>
                      </td>
                    </tr>
                   </table> 
                   <br />
                   <em>Note: Difference is calculated as <strong>Actual Time Taken - Estimate</strong>,<br /> a negative <strong style="color: green">(green)</strong> result means the job is finished earlier than estimated and a positive <strong style="color: red">(red)</strong> result means that it took longer than the estimate.  </em>
         </div>
      </div>


      
            
         </div>
      </div>
   </div>

   <script type="text/javascript">
                  
           jQuery(document).ready(function() {       
            $('#sample_1').dataTable({
                   
                    "aLengthMenu": [
                        [5, 15, 20, -1],
                        [5, 15, 20, "All"] // change per page values here
                    ],
                    // set the initial value
                    "iDisplayLength": 5,
                    "sPaginationType": "bootstrap",
                    "oLanguage": {
                        "sLengthMenu": "_MENU_ records per page",
                        "oPaginate": {
                            "sPrevious": "Prev",
                            "sNext": "Next"
                        }
                    },
                    "aoColumnDefs": [{
                            'bSortable': false,
                            'aTargets': [0]
                        }
                    ]
                 });
            });
       
                      
        </script>