<div class="text-center">
	<span class="value_label">You are currently working on:</span><br />
	<strong class="value"><%= @current_work.job.name %>, <%= @current_work.work_type.name %></strong>
	<br /><br />

	<span class="value_label">Estimated Duration: </span><br />
	<strong class="value">
		<%= @current_work.estimated_duration %> Minutes
	</strong>
	<br /><br />

	<span class="value_label">Date / Time Started: </span><br />
	<strong class="value">
		<%= @current_work.start_datetime.strftime("%m/%d/%Y at %I:%M %p") %>
	</strong>
	<br /><br />

	<span class="value_label">Work already taken: </span><br />
	<strong class="value">
		<%= time_ago_in_words(@current_work.start_datetime) %>
	</strong>
	<br /><br />

	<a href="/workitem/<%= @current_work.id%>/stop" class="btn btn-lg red"><i class="icon-stop"></i> Finish</a>
</div>