<div class="tiles">
           
            <% @open_jobs.each do |job| %>
               <a href= "/job/<%= job.id %>/details">
               <div class="tile double bg-green selected">
                  <div class="tile-body">
                     <h3><%= job.name %></h3>
                     
                        <%= job.notes %><br />
                        <strong>Open Work Items:</strong><br />
                        <% job.work_type_item.where(:completed => false, :start_datetime => nil).each_with_index do |work_item, index| %>
                           <%= index + 1 %>. <%= work_item.work_type.name %>
                        <% end %> 
                     
                  </div>
                  
               </div>
               </a>
            <% end %>
            
          
</div>