<span>	 

	<% if @has_work %>

	<% else %>
		<center>You have no active work item! Please select one below to start.</center>
	<% end %>

</span>
<hr />

	<% if @has_work %>
		<%= render 'current_job' %>
	<% else %>
		<%= render 'open_jobs' %>
	<% end %>

	<% if !@open_jobs.nil? %>
		<% if @open_jobs.count == 0%>
		<strong>Sorry! But there are no Open Jobs with work items right now. Please wait while the Managers enter the Jobs.</strong>
		<% end %>
	<% end %>


