<a class="btn btn-default" href="/staffs"> << Back to Job List</a><hr />

<span class="value_label">Job:</strong><br />
<span class="value"><%= @job.name %></span><br /><br />

<span class="value_label">Notes:</strong><br />
<span class="value"><%= @job.notes %></span><br /><br />


<div class="tiles">
           
            <% @job.work_type_item.where(:completed => false, :start_datetime => nil).each do |job| %>
               <a href= "/worktype/<%= job.id %>/details">
               <div class="tile double bg-blue selected">
                  <div class="tile-body">
                     <h3><%= job.work_type.name %></h3>
                     
                     <%= job.notes %><br /><br />

                     Estimated Duration:<br /> <%= job.estimated_duration %> Mins<br />
                       
                     
                  </div>
                  
               </div>
               </a>
            <% end %>
            
          
</div>