



<div class="portlet box blue">
                  <div class="portlet-title">
                     <div class="caption"><i class="icon-user"></i>Completed Work Items For Today (<%= Date.today%>)</div>
                     <div class="tools">
                      
                     </div>
                  </div>
                  <div class="portlet-body">
                     <div class="table-toolbar">
                        <div class="btn-group">
                          
                        </div>
                        <div class="btn-group pull-right">
                      
                        </div>
                     </div>

                   
                    <table class="table table-striped table-bordered table-hover dataTable" id="sample_1" aria-describedby="sample_1_info">
                    <thead>
                           <tr role="row">
                           		<th>ID</th>
                           		<th>Name</th>
                              <th>Est. Duration (Minutes)</th>
                              <th>Completed In (Minutes)</th>
                              <th>Completed</th>
                           		<th>Notes</th>


                           </tr>
                    </thead>
                        
                     <tbody role="alert" aria-live="polite" aria-relevant="all">
                      <%
                        sum = 0
                      %>
                   
                     	<% @jobs_completed_today.each do |job| %>
                        <tr>
                              
                              <td>
                              		<%= job.id %>
                              </td>

                              <td>
                              		<%= job.work_type.name %>
                              </td>

                              <td>
                              		<%= job.estimated_duration %>
                              </td>

                              <td>
                                  <%
                                   a = ((job.end_datetime - job.start_datetime) / 60).round
                                   sum += a
                                   %>
                                   <%= a %>
                              </td>

                              <td>
                                  
                                   <%= "Yes" if job.completed %>

                              </td>

                              <td>
                                    <%= job.notes %>
                              </td>
                              
                     
                       
                        </tr>

                        <% end %>

                       

                     
                       </tbody>
                   </table>

                   <strong style="font-size: 2em" ><%= sum %> minutes or <%= '%.2f' % (sum / 60.00) %> hours </strong><br/>
                   Total Time Completed for Today, (<%= Date.today %>)




                  </div>
               </div>
               <a href="/staffs" class="btn default"> << Back to Home</a>

          <script type="text/javascript">
               	  
		       jQuery(document).ready(function() {       
		   			$('#sample_1').dataTable({
		               
		                "aLengthMenu": [
		                    [5, 15, 20, -1],
		                    [5, 15, 20, "All"] // change per page values here
		                ],
		                // set the initial value
		                "iDisplayLength": 5,
		                "sPaginationType": "bootstrap",
		                "oLanguage": {
		                    "sLengthMenu": "_MENU_ records per page",
		                    "oPaginate": {
		                        "sPrevious": "Prev",
		                        "sNext": "Next"
		                    }
		                },
		                "aoColumnDefs": [{
		                        'bSortable': false,
		                        'aTargets': [0]
		                    }
		                ]
           			 });
		      	});
		   
               	      
				</script>