<hr />

<div class="text-center">
   <span class="value_label">Please confirm that you want to start with this work item, press cancel to go back</strong><br /><br />

   <span class="value_label">Work Type:</strong><br />      
   <span class="value"><%= @worktype.work_type.name %></span><br /><br />

   <span class="value_label">Estimated Duration:</strong><br />
   <span class="value"><%= @worktype.estimated_duration %></span><br /><br />

    <a href="/worktype/<%= @worktype.id%>/start_confirm" class="btn btn-lg green"><i class="icon-play"></i> Confirm Start Job</a> 
    <a class="btn btn-lg red" href="/job/<%= @worktype.job.id %>/details"> << Back to Work Type List</a><br /><br /><br />

   <span class="value_label">Job:</strong><br />
   <span class="value"><%= @worktype.job.name %></span><br /><br />

   <span class="value_label">Notes:</strong><br />
   <span class="value"><%= @worktype.job.notes %></span><br /><br /><br />


   

   <br /><br />

     

</div>




