<a class="btn btn-default" href="/job/<%= @worktype.job.id %>/details"> << Back to Work Type List</a><hr />

<div class="text-center">
   <span class="value_label">Job:</strong><br />
   <span class="value"><%= @worktype.job.name %></span><br /><br />

   <span class="value_label">Notes:</strong><br />
   <span class="value"><%= @worktype.job.notes %></span><br /><br /><br />


   <span class="value_label">Work Type:</strong><br />
   <span class="value"><%= @worktype.work_type.name %></span><br /><br />

   <span class="value_label">Estimated Duration:</strong><br />
   <span class="value"><%= @worktype.estimated_duration %></span><br /><br />

   <br /><br />

      <a href="/worktype/<%= @worktype.id%>/start" class="btn btn-lg green"><i class="icon-play"></i> Start Job</a>

</div>




