<span>	 
	Welcome back, <strong><%= session['current_user_full_name'] %></strong>! <br />

	
	Please proceed confirming work item as finished, press Cancel to go back.
	

</span>
<hr />

<div class="text-center">

	Please press the button to confirm and mark the Work Item as Done <br/><br />
	<a href="/workitem/<%= @current_work.id%>/stop_confirm" class="btn btn-lg red"><i class="icon-stop"></i> Confirm Finished</a> <a href="/staffs" class="btn btn-lg green"></i> Cancel</a>
	<br /><br /><br />
	<span class="value_label">You are currently working on:</span><br />
	<strong class="value"><%= @current_work.job.name %>, <%= @current_work.work_type.name %></strong>
	<br /><br />

	<span class="value_label">Estimated Duration: </span><br />
	<strong class="value">
		<%= @current_work.estimated_duration %> Minutes
	</strong>
	<br /><br />

	<span class="value_label">Date / Time Started: </span><br />
	<strong class="value">
		<%= @current_work.start_datetime.strftime("%m/%d/%Y at %I:%M %p") %>
	</strong>
	<br /><br />

	<span class="value_label">Date / Time End: </span><br />
	<strong class="value">
		<%= Time.now.strftime("%m/%d/%Y at %I:%M %p") %>
	</strong>
	<br /><br />

	<span class="value_label">Work Duration: </span><br />
	<strong class="value">
		<%= time_ago_in_words(@current_work.start_datetime) %>
	</strong>
	<br /><br />

	
</div>

