<!DOCTYPE html>
<html>
<head>
  <title> <%= @page_header %> - Allens Cabinets Time Tracker App</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

   <!-- BEGIN GLOBAL MANDATORY STYLES -->          
   <link href="/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
   <link href="/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
   <link href="/assets/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css"/>
   <!-- END GLOBAL MANDATORY STYLES -->
   <!-- BEGIN PAGE LEVEL PLUGIN STYLES --> 
   <link href="/assets/plugins/gritter/css/jquery.gritter.css" rel="stylesheet" type="text/css"/>
   <link href="/assets/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css" />
   <link href="/assets/plugins/fullcalendar/fullcalendar/fullcalendar.css" rel="stylesheet" type="text/css"/>
   <link href="/assets/plugins/jquery-easy-pie-chart/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css"/>
   <!-- END PAGE LEVEL PLUGIN STYLES -->
   <!-- BEGIN THEME STYLES --> 
   <link href="/assets/css/style-metronic.css" rel="stylesheet" type="text/css"/>
   <link href="/assets/css/style.css" rel="stylesheet" type="text/css"/>
   <link href="/assets/css/style-responsive.css" rel="stylesheet" type="text/css"/>
   <link href="/assets/css/plugins.css" rel="stylesheet" type="text/css"/>
   <link href="/assets/css/pages/tasks.css" rel="stylesheet" type="text/css"/>
   <link href="/assets/css/themes/default.css" rel="stylesheet" type="text/css" id="style_color"/>
   <link href="/assets/css/custom.css" rel="stylesheet" type="text/css"/>
   <!-- END THEME STYLES -->
   <link rel="shortcut icon" href="favicon.ico" />

</head>

<body class="page-header-fixed">



<!-- Start NavBar -->
<div class="header navbar navbar-inverse navbar-fixed-top">
      <!-- BEGIN TOP NAVIGATION BAR -->
      <div class="header-inner">
         <!-- BEGIN LOGO -->  
         <a class="navbar-brand" href="/">
         <img src="/assets/img/logo.png" alt="logo" class="img-responsive" /> 
         </a>
         <!-- END LOGO -->
         <!-- BEGIN RESPONSIVE MENU TOGGLER --> 
         <a href="javascript:;" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
         <img src="assets/img/menu-toggler.png" alt="" />
         </a> 
         <!-- END RESPONSIVE MENU TOGGLER -->
         <!-- BEGIN TOP NAVIGATION MENU -->
         <ul class="nav navbar-nav pull-right">
            <!-- BEGIN NOTIFICATION DROPDOWN -->
           
            
            <!-- BEGIN USER LOGIN DROPDOWN -->
            <li class="dropdown user">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
               <img alt="" src="/assets/img/avatar1_small.png"/>
               <span class="username"><%= session[:current_user_full_name] %></span>
               <i class="icon-angle-down"></i>
               </a>
               <ul class="dropdown-menu">
                  <li><a href="/users/<%= session[:current_user_id]%>/edit"><i class="icon-user"></i> My Profile</a>
                  </li>
               
                  <li class="divider"></li>
                  <li><a href="/logout"><i class="icon-key"></i> Log Out</a>
                  </li>
               </ul>
            </li>
            <!-- END USER LOGIN DROPDOWN -->
         </ul>
         <!-- END TOP NAVIGATION MENU -->
      </div>
      <!-- END TOP NAVIGATION BAR -->
</div>
<!-- End NavBar -->

<!-- Start Notices -->
<% flash.each do |name, message| %>
  <% if name == :validation_error %>
  <% else %>
	<div class="alert alert-success">
					<button data-dismiss="alert" class="close">
						×
					</button>
					<i class="fa fa-check-circle"></i>
					<%= message %>
	</div>
  <% end %>

<% end %>
<!-- End Notices -->

<!-- Start Container -->
<div class="page-container">

	<!-- BEGIN SIDEBAR -->
      <div class="page-sidebar navbar-collapse collapse">
         <!-- BEGIN SIDEBAR MENU -->        
         <ul class="page-sidebar-menu">
            <li>
               <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
               <div class="sidebar-toggler hidden-phone"></div>
               <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
            </li>
            <li>
               <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
               <form class="sidebar-search" action="extra_search.html" method="POST">
                  <div class="form-container">
                     <div class="input-box">
                        <a href="javascript:;" class="remove"></a>
                        
                     </div>
                  </div>
               </form>
               <!-- END RESPONSIVE QUICK SEARCH FORM -->
            </li>
            <li class="start active ">
               <a href="/">
               <i class="icon-home"></i> 
               <span class="title">Dashboard</span>
               <span class="selected"></span>
               </a>
            </li>
            <li class="">
               <a href="javascript:;">
               <i class="icon-wrench"></i> 
               <span class="title">Jobs</span>
               <span class="arrow "></span>
               </a>
               <ul class="sub-menu">
                  <li >
                     <a href="/jobs/add">
                        <i class="icon-plus"></i>Add New Job
                   </a>
                  </li>
                  <li >
                     <a href="/jobs/ongoing">
                        <i class="icon-tasks"></i>Ongoing
                   </a>
                  </li>
                  <li >
                     <a href="/jobs/completed">
                        <i class="icon-ok-circle"></i>Completed
                   </a>
                  </li>
                 
               </ul>
            </li>
            <li class="">
               <a href="javascript:;">
               <i class="icon-legal"></i> 
               <span class="title">Work Items</span>
               <span class="arrow "></span>
               </a>
               <ul class="sub-menu">
                  <li >
                     <a href="/workitems/open">
                        <i class="icon-tasks"></i>Open
                   </a>
                  </li>
                  <li >
                     <a href="/workitems/ongoing">
                        <i class="icon-tasks"></i>Ongoing
                   </a>
                  </li>
                  <li >
                     <a href="/workitems/completed">
                        <i class="icon-ok-circle"></i>Completed
                   </a>
                  </li>
                 
               </ul>
            </li>
            <li class="">
               <a href="javascript:;">
               <i class="icon-file-text"></i> 
               <span class="title">Reports</span>
               <span class="arrow "></span>
               </a>
               <ul class="sub-menu">
                
                <li >
                     <a href="/reports/per_date/select_date">By Date</a>
                 </li> 
                 <li >
                     <a href="/reports/per_job">By Job</a>
                 </li>


                 <li >
                     <a href="/reports/per_employee">By Staff</a>
                 </li>

                    <li >
                     <a href="/reports/per_employee_per_job">By Staff / Work Type</a>
                 </li>
                 
               </ul>
            </li>
            <li class="">
               <a href="javascript:;">
               <i class="icon-cogs"></i> 
               <span class="title">Configuration</span>
               <span class="arrow "></span>
               </a>
               <ul class="sub-menu">
                  <li >
                     <a href="/users">
                     	<i class="icon-user"></i>Users
                 	 </a>
                  </li>
                  <li >
                     <a href="/worktypes">
                        <i class="icon-wrench"></i>Work Types
                   </a>
                  </li>
                  <li >
                     <a href="/worktype_templates">
                        <i class="icon-list-ul"></i>Work Type Templates
                   </a>
                  </li>
                 
                 
               </ul>
            </li>
           
            
         </ul>
         <!-- END SIDEBAR MENU -->
      </div>
      <!-- END SIDEBAR -->

      <!-- Begin Content -->
      <div class="page-content">
         <h3 class="page-title">
    <%= @page_header %> <small><%= @page_title_small%></small>
</h3>
<hr>

			<%= yield %>      	
      </div>
      <!-- End Content-->

</div>

<!-- End Container-->












<!-- Start Bottom Scripts-->
  	
   <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
   <!-- BEGIN CORE PLUGINS -->   
   <!--[if lt IE 9]>
   <script src="assets/plugins/respond.min.js"></script>
   <script src="assets/plugins/excanvas.min.js"></script> 
   <![endif]-->   
   <script src="/assets/plugins/jquery-1.10.2.min.js" type="text/javascript"></script>
   <script src="/assets/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>   
   <!-- IMPORTANT! Load jquery-ui-1.10.3.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
   <script src="/assets/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
   <script src="/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
   <script src="/assets/plugins/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js" type="text/javascript" ></script>
   <script src="/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
   <script src="/assets/plugins/jquery.blockui.min.js" type="text/javascript"></script>  
   <script src="/assets/plugins/jquery.cookie.min.js" type="text/javascript"></script>
   <script src="/assets/plugins/uniform/jquery.uniform.min.js" type="text/javascript" ></script>
   <!-- END CORE PLUGINS -->
   <!-- BEGIN PAGE LEVEL PLUGINS -->
   <script src="/assets/plugins/flot/jquery.flot.js" type="text/javascript"></script>
   <script src="/assets/plugins/flot/jquery.flot.resize.js" type="text/javascript"></script>
   <script src="/assets/plugins/jquery.pulsate.min.js" type="text/javascript"></script>
   <script src="/assets/plugins/bootstrap-daterangepicker/moment.min.js" type="text/javascript"></script>
   <script src="/assets/plugins/bootstrap-daterangepicker/daterangepicker.js" type="text/javascript"></script>     
   <script src="/assets/plugins/gritter/js/jquery.gritter.js" type="text/javascript"></script>
   <!-- IMPORTANT! fullcalendar depends on jquery-ui-1.10.3.custom.min.js for drag & drop support -->
   <script src="/assets/plugins/fullcalendar/fullcalendar/fullcalendar.min.js" type="text/javascript"></script>
   <script src="/assets/plugins/jquery-easy-pie-chart/jquery.easy-pie-chart.js" type="text/javascript"></script>
   <script src="/assets/plugins/jquery.sparkline.min.js" type="text/javascript"></script>  
   <!-- END PAGE LEVEL PLUGINS -->
   <!-- BEGIN PAGE LEVEL SCRIPTS -->
   <script src="/assets/scripts/app.js" type="text/javascript"></script>
   <script src="/assets/scripts/index.js" type="text/javascript"></script>
   <script src="/assets/scripts/tasks.js" type="text/javascript"></script>   
   <script type="text/javascript" src="/assets/plugins/data-tables/jquery.dataTables.js"></script>
   <script type="text/javascript" src="/assets/plugins/data-tables/DT_bootstrap.js"></script>     
   <!-- END PAGE LEVEL SCRIPTS -->  
   <script>
     jQuery(document).ready(function() {    
         App.init(); // initlayout and core plugins
         
      });
   </script>
   

<!-- End Bottom Scripts -->

<!-- Start Custom Styles -->
<style type="text/css">
	.alert {
		margin-top: 42px;
	}



	.header .navbar-brand {
		margin-top: -7px;
	}

	.dataTables_filter {
		text-align: right;
	}
	
	.dataTables_paginate {
		text-align: right;
	}

   .value {
      font-size: 1.2em;
   }
   .value_label {
      color: grey;
   }

   .dashboard-stat .details .desc {
      text-align: right;
      font-size: 12px;
      letter-spacing: 0px;
      font-weight: 300;
      color: #fff;
   }

   .field_with_errors input {
     background-color: #f2dede;
     display: table;
   }

</style>
<!-- End Custom Styles -->

</body>
</html>
